body{
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Profile_Picture{
  width: 150px;
}
.card{
  border: 1px dotted blue;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background: rgb(125, 125, 202);
  color: Black;
  border-bottom: 8px solid purple;
}
.border-blue{
  border: 1px dotted blue;
}

.red-circle{
  background: red;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 100px 50px 0px 100px;
}
